#naglowek
{background-image: linear-gradient(blue,pink);
color: white;
}
#tresc
{background-image: linear-gradient(green,yellow);
}
#stopka
{background: red;
}
#drugi
{background-image: linear-gradient(grey,white);
}